{% extends "base.html" %}

{% block title %}Day Sign In Sheets{% endblock %}

{% block head %}
{{ super() }}
<style>
table, th, td {
  border: 1px solid black;
}
</style>
{% endblock %}

{% block page_content %}

<h1>Input the date below to view the sign in sheet for that day. </h1>
<form action="/admin/signInPost" method="post">
   <label for="date">Date you would like to view (yyyy-mm-dd): </label>
   <input type="text" id="date" name="date" value=""> <br>
   <input type="submit" value="View sheet">
</form>

{% if given_date %}
<h1>Sign-ins for {{given_date}}: </h1> <br>
<h3>Mentors:
    {% for name in mentors %}
    {{name}},
    {% endfor %}
</h3>
<table>
   <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Sign in time</th>
      <th>Signed out?</th>
   </tr>
   {% for entry in data %}
   <tr>
      <td>{{entry[0]}}</td>
      <td>{{entry[1]}}</td>
      <td>{{entry[2]}}</td>
      <td>{{entry[3]}}</td>
   </tr>
   {% endfor %}
</table>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
