{% extends "base.html" %}

{% block title %}Edit Sign In{% endblock %}

{% block head %}
{{ super() }}
<style>
table, th, td {
  border: 1px solid black;
}
</style>
{% endblock %}

{% block page_content %}

<h1>Input the date below to edit the sign in sheet for that day. </h1>
<form action="/admin/editSignInSheet" method="post">
   <label for="date">Date you would like to edit (yyyy-mm-dd): </label>
   <input type="text" id="date" name="date" value=""> <br>
   <input type="submit" value="View sheet">
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
