{% extends "base.html" %}

{% block title %}Admin Reports{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock %}

{% block page_content %}

{% for key, value in data.items() %}
<h2>{{key[0]}}'s (id: {{key[1]}}) total hours: {{value[0]}}<h2>
<canvas id='{{key[0]}}' style="width:100%;max-width:400px"></canvas>
<script>

var xValues = [{% for dv in value %}{% if loop.index0 >= 1 %}"{{dv[0]}}",{% endif %}{%endfor%}];
var yValues = [{% for dv in value %}{% if loop.index0 >= 1 %}"{{dv[1]}}",{% endif %}{%endfor%}];
var titleValue = "{{key[0]}}'s times";

new Chart("{{key[0]}}", {
   type: "bar",
   data: {
      labels: xValues,
      datasets: [{
         backgroundColor: "blue",
         data: yValues
      }]
   },
   options: {
      legend: {display: false},
      title: {
         display: true,
         text: titleValue
      }
   }
});

</script>
{% endfor %}

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
