{% extends "base.html" %}

{% block title %}Admin Reports{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock %}

{% block page_content %}

{% for entry in data %}
<h2>{{entry[1]}}'s (id: {{entry[0]}}) total hours: {{entry[2]}}<h2>
<canvas id='{{entry[1]}}' style="width:100%;max-width:400px"></canvas>
<script>

var xValues = [{% for dv in entry %}{% if loop.index0 >= 3 %}"{{dv[0]}}",{% endif %}{%endfor%}];
var yValues = [{% for dv in entry %}{% if loop.index0 >= 3 %}"{{dv[1]}}",{% endif %}{%endfor%}];
var titleValue = "{{entry[1]}}'s times";

new Chart("{{entry[1]}}", {
   type: "bar",
   data: {
      labels: xValues,
      datasets: [{
         backgroundColor: "blue",
         data: yValues
      }]
   },
   options: {
      legend: {display: false},
      title: {
         display: true,
         text: titleValue
      }
   }
});

</script>
{% endfor %}

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
