{% extends "base.html" %}
{% set active_page = "reports" %}

{% block title %}Reports{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock %}

{% block page_content %}
{% if yourname %}
<h2> Hello {{yourname}}, your ID has been registered as {{yourID}}.</h2>
{% endif %}
<h1 class="cap">Reports</h1>
<br>

<h3>Input your id/name to find your report. You can also input a time range. Please input your desired date as yyyy-mm-dd:</h3>
<form action="/reportPost" method="post">
   <label for="identification">Your name or ID: </label>
   <input type="text" id="identification" name="identification" value=""> <br>
   <label for="from_date">From (yyyy-mm-dd, default 0000-00-00): </label>
   <input type="text" id="from_date" name="from_date" value="0000-00-00"> <br>
   <label for="to_date">To (yyyy-mm-dd, default 0000-00-00): </label>
   <input type="text" id="to_date" name="to_date" value="0000-00-00"> <br>
   <input type="submit" value="View report">
</form> <br>

{% if report %}
<h2> Your report:</h2>
{{report}}
<canvas id="reportChart" style="width:100%;max-width:600px"></canvas>
{% if titleValue %}
<script>

var xValues = [{% for dv in dateValues%}"{{dv}}",{%endfor%}
];
var yValues = {{timeValues}};
var titleValue = "{{titleValue}}";

new Chart("reportChart", {
   type: "bar",
   data: {
      labels: xValues,
      datasets: [{
         backgroundColor: "blue",
         data: yValues
      }]
   },
   options: {
      legend: {display: false},
      title: {
         display: true,
         text: titleValue
      }
   }
});

</script>

{% endif %}
{% endif %}
<br>
<h2>{{error}}</h2>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
